private.pem
public.pem
.vscode
/.vscode
.idea
.pyc
/.idea
test
test2.
__pycache__/
*.py[cod]
*$py.class
*.pyc
/node_modules
/tests/*
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Untitled.ipynb
.vscode/settings.json
wget-log
